PUBLIC_SUPABASE_URL=https://zezkcpdbkpkvpbncxefw.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplemtjcGRia3BrdnBibmN4ZWZ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjI4MzE0ODYsImV4cCI6MTk3ODQwNzQ4Nn0.sWPeFC8ZoYderHcFEOSnR0UUI64EeQ7QbwxV1RQdN1c